/* •	Off Black: #1A1A1A */
/* •	Warm Gray: #2F2F2F */
/* •	Light Slate: #6E6E6E */
/* •	Smoke Gray: #D3D3D3 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
